@use 'variables' as *;

.home-page {
  .header {
    margin-bottom: 24px;
    .title {
      font-size: 36px;
      margin: 0;
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    .movie-type-option {
      flex-wrap: wrap;
    }
    .search {
      width: 100%;
    }
    .select-group {
      display: flex;
      align-items: center;
      .select {
        width: 100%;
      }
      .tooltip-icon {
        margin-left: 8px;
        color: $dark-gray;
        font-size: 20px;
        cursor: default;
        &.isStale {
          color: $yellow;
          cursor: pointer;
        }
      }
    }
  }
  .spin {
    text-align: center;
    margin: 24px;
  }

  .last-page {
    text-align: center;
    margin: 24px;
    color: $dark-gray;
  }

  .float-button {
    right: 24px;
    bottom: 24px;
  }
}

.movie-detail-modal {
  .spin {
    text-align: center;
    padding: 50px;
  }
  .review {
    margin-top: 20px;
    .review-content {
      border-bottom: 1px solid $dark-gray;
      margin-bottom: 12;
      padding-bottom: 12;
    }
  }
  .trailer {
    margin-top: 20px;
  }
  .collect-icon {
    font-size: 28px;
    color: $gray;
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 32px;
    &.collected {
      color: $red;
    }
  }
}
